* {
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 5px;
	display: block;
	background: var(--muted-border-color);
}


*::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: var(--primary);
}

#navigation {
	position: sticky;	
}

.shit {
	margin: 10px;
}

.shit small {
	color: var(--secondary);
	transform: translateY(-50%);
}

.shits {
	overflow-y: scroll;
	overflow-x: visible;
	transition: 0.15s;
	padding: 2px;
	padding-bottom: 40px;
}

#shits {
	padding: 0 20px;
	margin-bottom: 50px;
}

 #shitting-controls {
	padding: 10px;
	padding-bottom: 0;
	padding-left: 0;
 }

.shit_controls {
	margin-top: 5px;
}

.shit_control {
	cursor: pointer;
	transition: 0.2s;
}

.shit_control:hover, .shit_control.current {
	color: var(--contrast-hover)
}

#shitbox input, #shitbox button, #shitbox form {
	margin: 0;
}

.hidden {
	display: none;
}

.shit-user {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.pfp {
	object-fit: cover;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	float: left;
}

.shit-user span {
	margin: 10px;
}

#home-login {
	align-items: center;
	padding: 2vw;
}

#home-login h3 {
	margin: 0;
}

input[type=url] {
	height: calc(1rem * var(--line-height) / 2 + var(--form-element-spacing-vertical) + var(--border-width) + 6px) !important;
	padding: 5px !important;
}

.embed {
	display: block;
	margin: 10px 0;
	border-radius: var(--border-radius);
	max-width: min(600px, 90%);
	max-height: 500px;
}

@media (min-width: 900px) {
	.shit {
		padding: 20px;
	}
	
	#home-login {
		grid-template-columns: 10fr 2fr 1fr !important;
	}
	
	.shits {
		height: calc(100vh - 50px);
	}
	
	.mainlayout {
		grid-template-columns: 1fr 3fr;
		overflow-y: hidden;
	}
	
	body {
		overflow-y: hidden;
	}
	
	#shitbox {
		position: sticky;
		top: 0;
	}
	
	#shitbox button {
		display: none;
	}
	
	#shitbox > article {
		padding: 6px;
	}
}

@media (max-width: 900px) {
	#home-login {
		grid-template-columns: 3fr 2fr 1fr !important;
	}
	
	.shit {
		padding: 15px;
	}
	
	.shits {
		scrollbar-color: transparent transparent;
	}
	
	.shits::-webkit-scrollbar {
		display: none;
	}
	
	#shitbox {
		position: fixed;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
		width: 95vw;
		align-items: center;
	}
	
	#shitbox > article {
		margin: 0;
		padding: 5px;
		padding-bottom: 15px;
	}
	
	#shitbox .grid {
		grid-template-columns: 3fr 1fr;
		margin: 3px;
		gap: 8px;
	}
	
	#shitbox input {
		height: calc(1rem * var(--line-height) / 2 + var(--form-element-spacing-vertical) + var(--border-width) + 6px);
	}
	
	#shitbox button {
		padding: 3px;
	}
}

.mainlayout {
	padding: 2vw 3vw;
}
