* {
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 5px;
	display: block;
	background: var(--muted-border-color);
}


*::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: var(--primary);
}

#navigation {
	position: sticky;	
}

.shit {
	padding: calc(var(--block-spacing-vertical) / 3) calc(var(--block-spacing-horizontal) / 3);
	margin: 10px;
}

.shits {
	overflow-y: scroll;
	overflow-x: visible;
	transition: 0.15s;
	padding: 2px;
	padding-bottom: 40px;
}

#shits {
	padding: 0 20px;
}

#shitbox input, #shitbox button, #shitbox form {
	margin: 0;
}

.hidden {
	display: none;
}

.shit-user {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.pfp {
	object-fit: cover;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	float: left;
}

.shit-user span {
	margin: 10px;
}

#home-login {
	align-items: center;
	padding: 2vw;
}

#home-login * {
	padding: 3px;
	margin: 0;
}

@media (min-width: 900px) {
	#home-login {
		grid-template-columns: 10fr 2fr 1fr !important;
	}
	
	.shits {
		height: calc(100vh - 50px);
	}
	
	.mainlayout {
		grid-template-columns: 1fr 3fr;
		overflow-y: hidden;
	}
	
	body {
		overflow-y: hidden;
	}
	
	#shitbox {
		position: sticky;
		top: 0;
	}
	
	#shitbox button {
		display: none;
	}
	
	#shitbox > article {
		padding: 6px;
	}
}

@media (max-width: 900px) {
	#home-login {
		grid-template-columns: 3fr 2fr 1fr !important;
	}
	
	.shits {
		scrollbar-color: transparent transparent;
	}
	
	.shits::-webkit-scrollbar {
		display: none;
	}
	
	#shitbox {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 95vw;
	}
	
	#shitbox > article {
		margin: 0;
		padding: 5px;
	}
	
	#shitbox .grid {
		grid-template-columns: 3fr 1fr;
		margin: 3px;
		gap: 8px;
	}
}

.mainlayout {
	padding: 2vw 3vw;
}
